<!DOCTYPE html>
<html lang="uk">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>

<h1>Глеб</h1>

<p>Привіт, я майбутній бекенд-розробник.</p>

<ul>
  <li>займаюся бекенд-розробкою</li>
  <li>использую Linux, хочу заняться кибербезопасностю</li>
  <li>люблю гулять та інколи грати у відеоігри</li>
</ul>

<a href="https://www.youtube.com/watch?v=xazlP7NE8iE">Мій улюблений сайт</a>

<br><br>

</body>
</html>
YouTube
Шокуюча правда. Як працюють інтернет запити. Про це не кажуть на курсах

Тестовий сайт з відео:
http://116.203.195.165:5000/apidocs/